$link_app: #61dafb;
$primary: #007bff;
$sec: #6c757d;
$success: #28a745;
$lgrn: #01DF3A;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;

$light: #f8f9fa;
$dark: #343a40;
$white: #ffffff;

$left: #333842;
$right: #24272e;
$input :#3e4451;
// $sender :#545d6d;
$sender :#075E54;

$scroll-bar: #49515f;
$scroll-thumb: #5c6370;
$vyellow: #DBA901;
$vred: #FE2E64;

$wsms: #075e54;
$wsms2: #128c7e;
$wgreen: #25d366;
$wblue: #34b7f1;
$border: rgba(255, 255, 255, 0.123);

$senderBlue: #1877f2;